In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# path
base_path = './dataset'
publish_path = ''
test_nodes_path = os.path.join(base_path, publish_path, 'test_nodes.csv')

In [5]:
submit_val = pd.read_csv('./dataset/sample_submission_for_validation.csv')

In [27]:
submit_val

                                      id label
0       c39457cc34fa969b03819eaa4f9b7a52     A
1       668b9d0c53e9b6e2c6b1093102f976b3     B
2       ca5c7bc1b40c0ef3c3f864aed032ca90     C
3       44f810c0c000cda27ce618add55e815f     D
4       3c206335d88637d36d83c2942586be98     E
...                                  ...   ...
591967  5e231ec5d4167c541055092ee6e65a74     Q
591968  25f30607d6bfd52ca2780d8ea928e77e     R
591969  703abf983edaaef1d34091eabb4ffd20     S
591970  d051d9bec90a57152776fc5e9b08e5b2     T
591971  6f320571453737210aa7c91068cd3813     U

[591972 rows x 2 columns]

In [17]:
submit_val['id'].values

array(['c39457cc34fa969b03819eaa4f9b7a52',
       '668b9d0c53e9b6e2c6b1093102f976b3',
       'ca5c7bc1b40c0ef3c3f864aed032ca90', ...,
       '703abf983edaaef1d34091eabb4ffd20',
       'd051d9bec90a57152776fc5e9b08e5b2',
       '6f320571453737210aa7c91068cd3813'], dtype=object)

In [18]:
submit_val['label'].values

array(['A', 'B', 'C', ..., 'S', 'T', 'U'], dtype=object)

In [3]:
test_node = pd.read_csv(test_nodes_path)

In [30]:
test_node

,ID,Feature
0,1f144e8a8561f0631aa82a95fdf25b6f,"['2.6049350e-02', '-2.1876000e-01', '1.7905000..."
1,e7699b6c4a42e604e9fa5bdf6588008f,"['-3.4940000e-02', '-6.0958500e-01', '-9.01825..."
2,9c76b581329b63e25d416977f2624790,"['1.80435000e-01', '-1.82635000e-01', '3.06378..."
3,0098c636c99bcedcf7c94a5054abcff5,"['-0.06313', '-0.516309', '-0.200475', '-0.017..."
4,aa9b18d6c5e59880b61af3cde116d965,"['-6.3159500e-01', '-1.0210950e+00', '2.023600..."
...,...,...
1690715,effce47afcdac4719786879caafd2217,"['2.16386000e-01', '-1.68577652e-01', '8.18897..."
1690716,bf1cb9e6d24d91917fdbffa750674dbc,"['2.09472400e-01', '-3.49317600e-02', '1.33132..."
1690717,6fe66654901bd507ffe7fe2a613260f7,"['2.45289526e-01', '-1.18737789e-01', '2.26679..."
1690718,af5088ee3b18336757d21711f0674070,"['2.09699533e-01', '-3.55763233e-01', '3.56087..."
1690719,bd0d945aa4e523a3ed64ef1247273e91,"['0.21119208', '-0.17424504', '-0.023897', '-0..."

In [10]:
test_id = test_node[['ID']].values
test_id

array([['1f144e8a8561f0631aa82a95fdf25b6f'],
       ['e7699b6c4a42e604e9fa5bdf6588008f'],
       ['9c76b581329b63e25d416977f2624790'],
       ...,
       ['6fe66654901bd507ffe7fe2a613260f7'],
       ['af5088ee3b18336757d21711f0674070'],
       ['bd0d945aa4e523a3ed64ef1247273e91']], dtype=object)

In [16]:
num_test = test_id.shape[0]
label = test_id.copy()
label[:, :] = 'A'
label

array([['A'],
       ['A'],
       ['A'],
       ...,
       ['A'],
       ['A'],
       ['A']], dtype=object)

In [19]:
test_all = np.concatenate((test_id, label), axis=1)
test_all

array([['1f144e8a8561f0631aa82a95fdf25b6f', 'A'],
       ['e7699b6c4a42e604e9fa5bdf6588008f', 'A'],
       ['9c76b581329b63e25d416977f2624790', 'A'],
       ...,
       ['6fe66654901bd507ffe7fe2a613260f7', 'A'],
       ['af5088ee3b18336757d21711f0674070', 'A'],
       ['bd0d945aa4e523a3ed64ef1247273e91', 'A']], dtype=object)

In [22]:
submit_test = pd.DataFrame(test_all, columns=['id', 'label'])
submit_test

                                       id label
0        1f144e8a8561f0631aa82a95fdf25b6f     A
1        e7699b6c4a42e604e9fa5bdf6588008f     A
2        9c76b581329b63e25d416977f2624790     A
3        0098c636c99bcedcf7c94a5054abcff5     A
4        aa9b18d6c5e59880b61af3cde116d965     A
...                                   ...   ...
1690715  effce47afcdac4719786879caafd2217     A
1690716  bf1cb9e6d24d91917fdbffa750674dbc     A
1690717  6fe66654901bd507ffe7fe2a613260f7     A
1690718  af5088ee3b18336757d21711f0674070     A
1690719  bd0d945aa4e523a3ed64ef1247273e91     A

[1690720 rows x 2 columns]

In [28]:
submit_test.to_csv('./dataset/sample_submission_for_test.csv', index=False)

In [29]:
submit = pd.read_csv('./dataset/sample_submission_for_test.csv')
submit

                                       id label
0        1f144e8a8561f0631aa82a95fdf25b6f     A
1        e7699b6c4a42e604e9fa5bdf6588008f     A
2        9c76b581329b63e25d416977f2624790     A
3        0098c636c99bcedcf7c94a5054abcff5     A
4        aa9b18d6c5e59880b61af3cde116d965     A
...                                   ...   ...
1690715  effce47afcdac4719786879caafd2217     A
1690716  bf1cb9e6d24d91917fdbffa750674dbc     A
1690717  6fe66654901bd507ffe7fe2a613260f7     A
1690718  af5088ee3b18336757d21711f0674070     A
1690719  bd0d945aa4e523a3ed64ef1247273e91     A

[1690720 rows x 2 columns]